# Example of .toml configuration file. Copy and paste into a text file the
# lines below. 
# The .toml synthax is described here: https://github.com/toml-lang/toml

# Options for the `type` parameter: 'geojson' or 'bin'
type = 'geojson'
source_id = 'grin-hik-MSR_LW'
source_name = 'Hikurangi'
# Unit of measure for the rupture sampling: km
rupture_sampling_distance = 5
# The `tectonic_region_type` label must be consistent with what you use in the
# logic tree for the ground-motion characterisation
tectonic_region_type = 'Subduction Interface'
# Unit of measure for the `investigation_time`: years
investigation_time = 50.0
data_folder = 'grin-hik-MSR_LW/' 
output_folder = 'grin-hik-MSR_LW/'
